<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
    <div class="container">
        <h2 class="logo">LOGO HERE</h2>
        <div class="left-section">
            <div class="image-overlay"></div>
        </div>
        <div class="right-section">
            <div class="login-section">
                <a href="#" class="login-text">LOG IN</a>
                <br>
                <br>
                <!-- <p class="signup">didn’t have an account? <a href="#">Sign Up</a></p> -->
                <h1><span class="highlight">Hey !</span> <br> Welcome Back</h1>
                <form>
                    <label class="text" for="username">USERNAME</label>
                    <input type="text" id="username" placeholder="Your Name Here">
                    
                    <label class="text" for="password">PASSWORD</label>
                    <input type="password" id="password" placeholder="Password">
                    
                    <div class="remember">
                        <input type="checkbox" id="remember"> 
                        <label for="remember">Remember me</label>
                    </div>
                    
                    <button class="login" type="submit">LOG IN</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>